header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.movie-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
}

.movie-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.movie-contact-container {
    display: flex;
    align-items: center;
}

.movie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

a.link {
    text-decoration: none;
    color: unset;
}